.main {
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 0 !important;
    margin: 0 !important;
}

.wrap {
    width: 26em;
    border: 1px solid #DDD;
    background: #DDD;
    border-radius: 5px;
    margin: 0 auto;
}

.btn-groups {
    display: grid;
    text-align: center;
}

.btn-groups .btn {
    width: 30%;
    margin:0 auto;
}

.btn-groups a {
    padding: 1em;
}

.test {
    padding: 10em;
}